[submodule "lisp/ts-fold"]
	path = lisp/ts-fold
	url = https://github.com/emacs-tree-sitter/ts-fold.git
[submodule "lisp/emacs-application-framework"]
	path = lisp/emacs-application-framework
	url = https://github.com/emacs-eaf/emacs-application-framework.git
